/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
/app/config/parameters.yml
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/bin/
/vendor/
/web/bundles/
/web/vendor/
.vagrant
/html