{% extends 'base.html.twig' %}

{% block title %}Credit Card{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            Testing
        </div>
    </div>
{% endblock %}