.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

input.ng-dirty.ng-invalid {
    border: 1px solid #ff0000;
    margin-bottom: 5px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}